@model Ksiegarnia.Models.OrderModel

@{
    ViewData["Title"] = "Details";
}
    <div class="container">
        <h1>Szczegóły</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Street)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ZIPcode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ZIPcode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Done)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Done)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdOfOrderedBooks)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdOfOrderedBooks)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
            </dl>
        </div>
        <form asp-action="Details">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
        </form>
        <a asp-action="Index"><div class="btn btn-dark">Back to List</div></a>
    </div>